<h1> Edit this Inventory </h1>
<label>Product Name</label>
<input type="text" name="product_name" id="updateproduct_name" placeholder='Product Name' value="{{product.product_name}}">
<label>Amount Inhouse</label>
<input type="text" name="amount_inhouse" id="updateamount_inhouse" value={{amount_inhouse}}>
<label>Amount Sold</label>
<input type="text" name="amount_sold" id="updateamount_sold" value={{amount_sold}}>
<label>Price</label>
<input type="text" name="price" id="updateprice" value={{price}}>
<input type='button' value="Save" class="button update">
