<h1> Edit this Inventory </h1>
<p> <b>Product Name: {{product.product_name}}</b> </p>
<label>Amount Inhouse</label>
<input type="text" name="amount_inhouse" id="updateamount_inhouse" value={{amount_inhouse}}>
<label>Amount Sold</label>
<input type="text" name="amount_sold" id="updateamount_sold" value={{amount_sold}}>
<label>Price</label>
<input type="text" name="price" id="updateprice" value={{price}}>
<input type='button' value="Save" class="button update">
