<table>
  <tr>
    <td> Image </td>
    <td> Product <br> Number </td>
    <td> Amount <br> Inhouse </td>
    <td> Amount <br> Sold </td>
    <td> Price </td>
    <td>  </td>
    <td>  </td>
  </tr>
</table>
<!-- <p> <b>Product Name: {{product.product_name}}</b> || Amount Inhouse: {{amount_inhouse}} || Amount Sold: {{amount_sold}} || Price: {{price}} -->
<!-- <input type='button' value="Edit" class="button edit"></p> -->
<hr>
