<p> <b>Product Name: {{product.product_name}}</b> || Amount Inhouse: {{amount_inhouse}} || Amount Sold: {{amount_sold}} || Price: {{price}}
<input type='button' value="Edit" class="button edit"></p>
<hr>
