<h1> Add Inventory to this branch </h1>
<label>Product Name</label>
<input type="text" name="product_name" id="product_name" placeholder='Branch Name'>
<label>Amount Inhouse</label>
<input type="text" name="amount_inhouse" id="amount_inhouse">
<label>Amount Sold</label>
<input type="text" name="amount_sold" id="amount_sold">
<label>Price</label>
<input type="text" name="price" id="price">
<input type='button' value="Save" class="button create">
