<h1> Add Inventory to this branch </h1>
<label>Image</label>
<!-- <form accept-chaarset="UTF-8" id="imageUpload" action="/products" method='post' enctype="multipart/form-data"> -->
<input type="file" id="image" name="image">
<!-- <form class="dropzone">
</form> -->
<!-- <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data"> -->
<label>Product Name</label>
<input type="text" name="product_name" id="product_name" placeholder='Product Name'>
<label>Amount Inhouse</label>
<input type="text" name="amount_inhouse" id="amount_inhouse">
<label>Amount Sold</label>
<input type="text" name="amount_sold" id="amount_sold">
<label>Price</label>
<input type="text" name="price" id="price"><br>
<label>Description</label>
<textarea rows="4" cols="50" id="description"></textarea>
<input type='button' value="Save" class="button create">
