/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dropzone.min
 *= require_self
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 */

 body {
   font-style: normal;
   background: rgb(14, 116, 175);
   font-family: 'Josefin Sans', Futura, Helvetica, sans-serif;
   font-weight: 400;
   color: rgb(77, 77, 77);
 }

 #location-list {
   float: left;
   /*padding-right: 300px;*/
   border: 1px solid rgba(0,0,0,0);
   font-weight: 100;
   border-radius: 50%;
   text-align: center;
   /*height: 20px;
   width: 20px;
   margin: 2px;
   padding: 2px;*/
   -webkit-transition: transform 1s;
 }
 .location {
   box-sizing: padding-box;

   width: 100%;
   padding: 12px;
   margin: 12px 0;

   border-radius: 5px;
   border-bottom: 1px solid #bbb;
   border-right: 1px solid #bbb;

   background-color: #e2e4e6;
 }

 .headquarter {
   box-sizing: padding-box;
   text-align: center;

   width: 100%;
   padding: 12px;
   margin: 12px 0;

   border-radius: 5px;
   border-bottom: 1px solid #bbb;
   border-right: 1px solid #bbb;

   background-color: #e2e4e6;
 }

 #registrationBranch{
   box-sizing: padding-box;
   text-align: center;

   width: 100%;
   padding: 12px;
   margin: 12px 0;

   border-radius: 5px;
   border-bottom: 1px solid #bbb;
   border-right: 1px solid #bbb;

   background-color: #e2e4e6;
 }

 #main-list{
   box-sizing: padding-box;
   /*overflow: scroll;*/
   float: right;
   padding-left: 20px;
   font-size:20px;
   font-weight: 200;
   border-radius: 5px;
   text-align: center;
   width: 60rem;
   padding: 12px;
   margin: 12px 0;
   border-bottom: 1px solid #bbb;
   border-right: 1px solid #bbb;

   background-color: #e2e4e6;
   /*height: 20px;
   width: 20px;
   margin: 2px;
   padding: 2px;*/
   -webkit-transition: transform 1s;
 }

 p.navbar-text{
   display: inline;
 }

 #search-form{
   float: right;
   margin-right: 50px;
 }

 #searchResults{
   box-sizing: padding-box;
   text-align: center;

   width: 100%;
   padding: 12px;
   margin: 12px 0;

   border-radius: 5px;
   border-bottom: 1px solid #bbb;
   border-right: 1px solid #bbb;

   background-color: #e2e4e6;

 }

 .search-list{
   padding-top: 20px;
   text-align: center;

 }

 .navbar-text, .alert {
   color:#000000;

 }

 #company_registration{
   margin: 0 auto;
   box-sizing: padding-box;
   text-align: center;

   width: 50%;
   padding: 12px;

   border-radius: 5px;
   border-bottom: 1px solid #bbb;
   border-right: 1px solid #bbb;

   background-color: #e2e4e6;
 }

table { table-layout: fixed; }
td { width: 1%; }

.button{
  display: inline-block;
height: 38px;
padding: 0 30px;
color: #555;
text-align: center;
font-size: 11px;
font-weight: 600;
line-height: 38px;
letter-spacing: .1rem;
text-transform: uppercase;
text-decoration: none;
white-space: nowrap;
background-color: transparent;
border-radius: 4px;
border: 1px solid #bbb;
cursor: pointer;
box-sizing: border-box;

}
